
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        grid-auto-rows: auto;
        grid-template-areas:
            ". A A A ."
            ". B B B ."
            ". B B B ."
            ". . C . .";
        z-index: 100;
    }

    .header {
        grid-area: A;
        align-self: center;
        justify-self: center;
        height: 50px;
        width: 100%;
        margin: auto;
    }

    .quote {
        grid-area: B;
        align-self: center;
        justify-self: center;
        background: linear-gradient(to right, rgb(233, 225, 196), rgb(255, 255, 255));
        height: auto;
        width: 100%;
        margin: auto;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 50px;
        box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
    }

    .metadata {
        grid-area: C;
        align-self: center;
        justify-self: center;
        /*background-color: rgb(255, 255, 255);*/
        height: 100px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .quote--text {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 10px 20px;
    }

    .quote--attribution {
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
    }

    .quote--source {
        font-family: 'Poppins', sans-serif;
        font-size: .9rem;
    }

    .button--lg {
        border-radius: 4px;
        padding: 20px;
        font-size: 1.5rem;
        border: 1px solid rgb(255, 255, 255);     
        box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
        transition-duration: 0.2s;
    }
      
    .button--lg:hover {
        background-color: #ff00aa; /* Green */
        color: white;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }

    body {
        background-color: rgb(255, 208, 0);
    }

    #rbg {
        /*border: 3px solid rgba(119, 0, 199, 0.89);*/
        min-height: 100vh;
        background: none;
        background-image: url('https://github.com/dearCuriosity/rbg/blob/master/img/rbg-4.png?raw=true'), url('https://github.com/dearCuriosity/rbg/blob/master/img/rbg-1.png?raw=true'), url('https://github.com/dearCuriosity/rbg/blob/master/img/rbg-1.png?raw=true');
        height: auto;
        /* 100%, but doesn't work all the time */
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-animation: rbg 1000s linear infinite;
        -moz-animation: rbg 1000s linear infinite;
        -ms-animation: rbg 1000s linear infinite;
        animation: rbg 1000s linear infinite;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    @keyframes rbg {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        100% {
            background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
        }
    }

    @-moz-keyframes {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        100% {
            background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
        }
    }

    @-webkit-keyframes rbg {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        100% {
            background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
        }
    }

    @-ms-keyframes rbg {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        100% {
            background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;
        }
    }
